{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": [
    "webpack.config.js",
    "tailwind.config.js",
    "postcss.config.js",
    "tailwind.input.js",
    "tailwind.checkbox.js",
    "tailwind.button.js"
  ],
  "overrides": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "windows"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "yoda": [
      "error",
      "never"
    ],
    "@typescript-eslint/ban-ts-comment": [
      "warn"
    ],
    "arrow-spacing": [
      1,
      {
        "before": true,
        "after": true
      }
    ],
    "arrow-parens": [
      1,
      "always"
    ],
    "block-spacing": [
      1,
      "always"
    ],
    "brace-style": [
      1,
      "1tbs"
    ],
    "dot-location": [
      1,
      "property"
    ],
    "max-len": [
      1,
      {
        "code": 120,
        "ignoreStrings": true
      }
    ],
    "newline-per-chained-call": [
      1,
      {
        "ignoreChainWithDepth": 3
      }
    ],
    "no-whitespace-before-property": [
      1
    ],
    "no-trailing-spaces": [
      1
    ],
    "newline-after-var": [
      1,
      "always"
    ],
    "padding-line-between-statements": [
      1,
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      },
      {
        "blankLine": "always",
        "prev": "block-like",
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "block-like"
      },
      {
        "blankLine": "always",
        "prev": "import",
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": "import",
        "next": "import"
      }
    ]
    // "padded-blocks": [
    //     "error",
    //     {
    //         "blocks": "never",
    //         "classes": "always",
    //         "switches": "never"
    //     }
    // ]
  }
}