c-menu {
  position: relative;
  display : block;
}

c-menu-items {
  --translate-x: 0;
  --translate-y: 0;
  --scale      : 1;
  --offset     : 0px;

  position : absolute;
  display  : block;
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale));

}

c-menu-items:not([data-active]) {
  pointer-events: none;
  opacity       : 0;

}

c-menu-items[placement^="top"] {
  bottom       : 100%;
  margin-bottom: var(--offset, 0);
}

c-menu-items[placement="top"] {
  --translate-x: -50%;

  left            : 50%;
  transform-origin: bottom;
}

c-menu-items[placement="top-start"] {
  left            : 0;
  transform-origin: bottom left;
}

c-menu-items[placement="top-end"] {
  right           : 0;
  transform-origin: bottom right;
}

c-menu-items[placement^="bottom"] {
  top       : 100%;
  margin-top: var(--offset, 0);
}

c-menu-items[placement="bottom"] {
  --translate-x: -50%;

  left            : 50%;
  transform-origin: top;
}

c-menu-items[placement="bottom-start"] {
  left            : 0;
  transform-origin: top left;
}

c-menu-items[placement="bottom-end"] {
  right           : 0;
  transform-origin: bottom right;
}

c-menu-items[placement^="right"] {
  left       : 100%;
  margin-left: var(--offset, 0);
}

c-menu-items[placement="right"] {
  --translate-y: -50%;

  top             : 50%;
  transform-origin: left;
}

c-menu-items[placement="right-start"] {
  top             : 0;
  transform-origin: top left;
}

c-menu-items[placement="right-end"] {
  bottom          : 0;
  transform-origin: bottom left;
}

c-menu-items[placement^="left"] {
  right       : 100%;
  margin-right: var(--offset, 0);
}

c-menu-items[placement="left"] {
  --translate-y: -50%;

  top             : 50%;
  transform-origin: right;
}

c-menu-items[placement="left-start"] {
  top             : 0;
  transform-origin: top right;
}

c-menu-items[placement="left-end"] {
  bottom          : 0;
  transform-origin: bottom right;
}

c-menu-items[placement="over"] {
  --translate-x: -50%;
  --translate-y: -50%;

  left            : 50%;
  top             : 50%;
  transform-origin: center;

}

c-menu-items[placement*="over-top"] {
  bottom       : 0;
  margin-bottom: calc(-1 * var(--offset, 0));
}

c-menu-items[placement="over-top"] {
  --translate-x: -50%;

  left            : 50%;
  transform-origin: bottom;
}

c-menu-items[placement="over-top-start"] {
  left            : 0;
  transform-origin: bottom left;
}

c-menu-items[placement="over-top-end"] {
  right           : 0;
  transform-origin: bottom right;
}


c-menu-items[placement*="over-bottom"] {
  top          : 0;
  margin-bottom: calc(-1 * var(--offset, 0));
}

c-menu-items[placement="over-bottom"] {
  --translate-x: -50%;

  left            : 50%;
  transform-origin: top;
}

c-menu-items[placement="over-bottom-start"] {
  left            : 0;
  transform-origin: top left;
}

c-menu-items[placement="over-bottom-end"] {
  right           : 0;
  transform-origin: top right;
}

c-menu-items[placement*="over-left"] {
  left       : 0;
  margin-left: calc(-1 * var(--offset, 0));
}

c-menu-items[placement="over-left"] {
  --translate-y: -50%;

  top             : 50%;
  transform-origin: left;
}

c-menu-items[placement="over-left-start"] {
  top             : 0;
  transform-origin: top left;
}

c-menu-items[placement="over-left-end"] {
  bottom          : 0;
  transform-origin: bottom left;
}

c-menu-items[placement*="over-right"] {
  right       : 0;
  margin-right: calc(-1 * var(--offset, 0));
}

c-menu-items[placement="over-right"] {
  --translate-y: -50%;

  top             : 50%;
  transform-origin: right;
}

c-menu-items[placement="over-right-start"] {
  top             : 0;
  transform-origin: top right;
}

c-menu-items[placement="over-right-end"] {
  bottom          : 0;
  transform-origin: bottom right;
}