<%= require('./html-includes/header.html')() %>

<section class="grow flex flex-col gap-10 py-16">
  <div class="text-4xl font-bold ">Web Component Menu</div>

  <div>
    <div class="text-2xl font-bold mb-5">Использование</div>
    <div class="flex bg-default/10 p-10 pb-40">
      <c-menu>
        <c-menu-button class="btn btn-fill btn-primary group gap-3 ">
          Menu button
          <c-icon class="icon text-xs group-data-[active]:-rotate-90" href="img/icons.svg#to-right"></c-icon>
        </c-menu-button>
        <c-menu-items>
          <c-menu-item class="btn btn-primary">Menu item 1</c-menu-item>
          <c-menu-item class="btn btn-primary">Menu item 2</c-menu-item>
          <c-menu-item class="btn btn-primary">Menu item 3</c-menu-item>

        </c-menu-items>
      </c-menu>
    </div>
  </div>

  <div>
    <div class="text-2xl font-bold mb-5">Вложенные меню</div>
    <div class="flex bg-default/10 p-10 pb-96">
      <c-menu>
        <c-menu-button class="btn btn-fill btn-primary group gap-3 ">
          Menu button
          <c-icon class="icon text-xs group-data-[active]:-rotate-90" href="img/icons.svg#to-right"></c-icon>
        </c-menu-button>
        <c-menu-items>
          <c-menu-item class="btn btn-primary">Menu item 1</c-menu-item>
          <c-menu-item class="btn btn-primary">Menu item 2</c-menu-item>
          <c-menu-item class="btn btn-primary">Menu item 3</c-menu-item>

          <c-menu>
            <c-menu-button class="btn btn-primary group">
              Menu button
              <c-icon class="icon text-xs group-data-[active]:-rotate-180 ml-auto" href="img/icons.svg#to-right"></c-icon>
            </c-menu-button>
            <c-menu-items placement="right">
              <c-menu-item class="btn btn-primary">Menu item 1</c-menu-item>
              <c-menu-item class="btn btn-primary">Menu item 2</c-menu-item>
              <c-menu>
                <c-menu-button class="btn btn-primary group">
                  Menu button
                  <c-icon class="icon text-xs group-data-[active]:-rotate-180 ml-auto" href="img/icons.svg#to-right"></c-icon>
                </c-menu-button>
                <c-menu-items placement="right">
                  <c-menu>
                    <c-menu-button class="btn btn-primary group">
                      Menu button
                      <c-icon class="icon text-xs group-data-[active]:rotate-90 ml-auto" href="img/icons.svg#to-right"></c-icon>
                    </c-menu-button>
                    <c-menu-items placement="top">
                      <c-menu-item class="btn btn-primary">Menu item 1</c-menu-item>
                      <c-menu-item class="btn btn-primary">Menu item 2</c-menu-item>
                      <c-menu-item class="btn btn-primary">Menu item 3</c-menu-item>
                    </c-menu-items>
                  </c-menu>
                  <c-menu-item class="btn btn-primary">Menu item 1</c-menu-item>
                  <c-menu-item class="btn btn-primary">Menu item 2</c-menu-item>
                  <c-menu-item class="btn btn-primary">Menu item 3</c-menu-item>

                </c-menu-items>
              </c-menu>
              <c-menu>
                <c-menu-button class="btn btn-primary group">
                  Menu button
                  <c-icon class="icon text-xs group-data-[active]:-rotate-90 ml-auto" href="img/icons.svg#to-right"></c-icon>
                </c-menu-button>
                <c-menu-items placement="bottom">
                  <c-menu-item class="btn btn-primary">Menu item 1</c-menu-item>
                  <c-menu-item class="btn btn-primary">Menu item 2</c-menu-item>
                  <c-menu-item class="btn btn-primary">Menu item 3</c-menu-item>
                </c-menu-items>
              </c-menu>
            </c-menu-items>
          </c-menu>

          <c-menu>
            <c-menu-button class="btn btn-primary group">
              Menu button
              <c-icon class="icon text-xs group-data-[active]:-rotate-180 ml-auto" href="img/icons.svg#to-right"></c-icon>
            </c-menu-button>
            <c-menu-items placement="right">
              <c-menu-item class="btn btn-primary">item 1</c-menu-item>
              <c-menu-item class="btn btn-primary">item 2</c-menu-item>
              <c-menu-item class="btn btn-primary">item 3</c-menu-item>
            </c-menu-items>
          </c-menu>
        </c-menu-items>
      </c-menu>
    </div>
  </div>

  <div>
    <div class="text-2xl font-bold mb-5">При наведении</div>
    <div class="flex bg-default/10 p-10 pb-40">
      <c-menu action="hover">
        <c-menu-button class="btn btn-fill btn-primary group gap-3 ">
          Menu button
          <c-icon class="icon text-xs group-data-[active]:-rotate-90" href="img/icons.svg#to-right"></c-icon>
        </c-menu-button>
        <c-menu-items>
          <c-menu-item class="btn btn-primary">Menu item 1</c-menu-item>
          <c-menu-item class="btn btn-primary">Menu item 2</c-menu-item>
          <c-menu-item class="btn btn-primary">Menu item 3</c-menu-item>

        </c-menu-items>
      </c-menu>
    </div>
  </div>
  <div id="placement-demo">
    <div class="text-2xl font-bold mb-5">Позиционирование</div>

    <div class="flex flex-wrap gap-4 mb-5">
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="top">
        <div class="text-sm">top</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="top-start">
        <div class="text-sm">top-start</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="top-end">
        <div class="text-sm">top-end</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="right">
        <div class="text-sm">right</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="right-start">
        <div class="text-sm">right-start</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="right-end">
        <div class="text-sm">right-end</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="bottom">
        <div class="text-sm">bottom</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="bottom-start" checked>
        <div class="text-sm">bottom-start</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="bottom-end">
        <div class="text-sm">bottom-end</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="left">
        <div class="text-sm">left</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="left-start">
        <div class="text-sm">left-start</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="left-end">
        <div class="text-sm">left-end</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="over">
        <div class="text-sm">over</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="over-top">
        <div class="text-sm">over-top</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="over-top-start">
        <div class="text-sm">over-top-start</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="over-top-end">
        <div class="text-sm">over-top-end</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="over-right">
        <div class="text-sm">over-right</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="over-right-start">
        <div class="text-sm">over-right-start</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="over-right-end">
        <div class="text-sm">over-right-end</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="over-bottom">
        <div class="text-sm">over-bottom</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="over-bottom-start">
        <div class="text-sm">over-bottom-start</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="over-bottom-end">
        <div class="text-sm">over-bottom-end</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="over-left">
        <div class="text-sm">over-left</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="over-left-start">
        <div class="text-sm">over-left-start</div>
      </label>
      <label class="flex items-center gap-3 cursor-pointer">
        <input type="checkbox" class="checkbox" value="over-left-end">
        <div class="text-sm">over-left-end</div>
      </label>
    </div>

    <div class="flex bg-default/10 p-10 py-48 flex-wrap gap-4 justify-center">
      <c-menu action="hover">
        <c-menu-button class="btn btn-fill btn-primary group gap-3 ">
          Menu button
          <c-icon class="icon text-xs group-data-[active]:-rotate-90" href="img/icons.svg#to-right"></c-icon>
        </c-menu-button>
        <c-menu-items class="w-80">
          <c-menu-item class="btn btn-primary">Menu item 1</c-menu-item>
          <c-menu-item class="btn btn-primary">Menu item 2</c-menu-item>
          <c-menu-item class="btn btn-primary">Menu item 3</c-menu-item>

        </c-menu-items>
      </c-menu>
    </div>
  </div>
  <script>
    const container = document.getElementById("placement-demo")
    container.addEventListener('change', (event) => {
      container.querySelectorAll('input:checked').forEach((checkbox) => checkbox.checked = false)
      event.target.checked = true
      container.querySelector('c-menu-items').setAttribute('placement', event.target.value)
    })
  </script>

  <div>
    <div class="text-2xl font-bold mb-5">Произвольный контент меню</div>
    <div class="flex bg-default/10 p-10 pb-40 flex-col items-start gap-4">
      <c-menu>
        <c-menu-button class="btn btn-fill btn-primary group gap-3 ">
          Menu button
          <c-icon class="icon text-xs group-data-[active]:-rotate-90" href="img/icons.svg#to-right"></c-icon>
        </c-menu-button>
        <c-menu-items class="p-4 w-[500px] flex items-center gap-4" placement="right-start">
          <img src="img/test.gif" alt="" class="size-20 object-cover">
          <div class="text-sm">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis recusandae nemo similique repellat dolorum tempore laborum, facilis aliquam quam error ipsam soluta ducimus in perspiciatis culpa porro maiores iste dignissimos.
          </div>
        </c-menu-items>
      </c-menu>
      <c-menu>
        <c-menu-button class="btn btn-fill btn-primary group gap-3 ">
          Menu button
          <c-icon class="icon text-xs group-data-[active]:-rotate-90" href="img/icons.svg#to-right"></c-icon>
        </c-menu-button>
        <c-menu-items class="p-4 w-80 flex flex-col gap-4" placement="right">
          <input type="text" placeholder="Login" class="input">
          <input type="text" placeholder="Password" class="input">
          <button class="btn btn-primary btn-fill justify-center">Login</button>
        </c-menu-items>
      </c-menu>
    </div>
  </div>
</section>


<%= require('./html-includes/footer.html')() %>