<%= require('./html-includes/header.html')() %>

<header class="header">
  <a href="javascript:;" class="header-logo btn btn-text max-sm:mr-auto">
    <img src="img/logo.png" alt="">
  </a>

  <div class="flex gap-12.5 max-lg:hidden">
    <a href="javascript:;" class="btn btn-text btn-default">Услуги</a>
    <a href="javascript:;" class="btn btn-text btn-default">Портфолио</a>
    <a href="javascript:;" class="btn btn-text btn-default">Отзывы</a>
    <a href="javascript:;" class="btn btn-text btn-default">О нас</a>
    <a href="javascript:;" class="btn btn-text btn-default">Контакты</a>

  </div>

  <a href="javascript:;" class="btn btn-text btn-default max-sm:hidden">
    <span class="text-xl font-bold font-alt">8 918 000 00 00</span>
  </a>

  <a href="javascript:;" class="btn btn-default btn-contur rounded-full btn-icon sm:hidden max-sm:btn-sm">
    <c-icon class="icon " href="img/icons.svg#phone"></c-icon>
  </a>
  <button class="btn btn-default btn-contur rounded-full px-4 max-sm:btn-sm">
    <span class="font-alt max-xs:text-xs">Связаться с нами</span>
  </button>
</header>

<section class="started">
  <div class="started-image">
    <img src="img/started.jpg" alt="" class="absolute-fit object-cover">
  </div>
  <div class="started-shadow"></div>
  <div class="started-content">
    <div>
      <div class="started-title">
        Архитектурное
        проектирование
      </div>

      <button class="btn btn-white btn-contur rounded-full px-6 gap-1">
        <span class="font-alt">Подробнее</span>
        <c-icon class="icon text-xl" href="img/icons.svg#arrow-right"></c-icon>
      </button>
    </div>
    <div class="">
      <div class="leading-normal max-lg:text-sm">
        Проектная организация, специализирующаяся <br class="max-lg:hidden">
        на архитектурном проектировании зданий, сооружений <br class="max-lg:hidden">
        и объектов инфраструктуры.
        <br><br>
        Имеем опыт работы в различных отраслях и регионах, <br class="max-lg:hidden">
        что позволяет им предлагать качественные услуги <br class="max-lg:hidden">
        и индивидуальный подход к каждому клиенту
      </div>
    </div>
  </div>

</section>

<section class="about">
  <div class="about-left">
    <div class="about-image ratio ratio-[414/500]">
      <img src="img/about.jpg" alt="" class="absolute-fit object-cover ">

      <div class="absolute w-full top-full left-0 flex mt-3 max-sm:text-xs">
        <div class="font-alt">Андрей Капительев</div>
        <div class="opacity-50 ml-auto">Главный архитектор</div>
      </div>
    </div>

  </div>
  <div class="about-content text-default/80 relative max-sm:text-sm">
    <div class="font-alt absolute text-[128px] top-0 max-lg:right-full lg:left-0 leading-none opacity-20">“</div>
    <div>
      <span class="font-alt text-base sm:text-xl text-default">Компания «Капитель»</span> — это проектная организация, специализирующаяся на архитектурном проектировании зданий, сооружений и объектов инфраструктуры. Они предлагают широкий спектр услуг, включая проведение изысканий, сбор ИРД, разработку проектной документации, получение разрешения на строительство.
      <br><br>
      <span class="font-alt text-lg sm:text-2xl text-default">
        Превращаем идеи в реальность: <br>
        архитектурное проектирование для жизни
      </span>
      <br><br>
      Основные виды деятельности компании включают разработку проектов жилых домов, общественных зданий, производственных сооружений, городских территорий, дорог и инженерных сетей. Также они предоставляют услуги по разработке эскизных проектов, предварительных архитектурных и объёмно-планировочных решений, проектной документации и рабочего проекта.
    </div>
    <img src="img/about-sign.png" alt="" class="mt-10">
  </div>
</section>

<section class="video section-lines">
  <div class="video-image">
    <img src="img/video.jpg" alt="" class="absolute-fit object-cover">
  </div>
  <div class="absolute-fit bg-black/50"></div>
  <div class="video-nav flex max-sm:flex-col gap-3 sm:gap-8 lg:gap-28 relative lg:px-24">
    <a href="javascript:;" class="btn btn-white btn-text">
      <div class="opacity-60">Видео о нас</div>
    </a>
    <a href="javascript:;" class="btn btn-white btn-text">
      <div class="opacity-60">Капитель </div>
    </a>
    <a href="javascript:;" class="btn btn-white btn-text">
      <div class="opacity-60">Архитектурно-проектное бюро </div>
    </a>
  </div>

  <a href="javascript:;" class="video-button btn btn-icon btn-white btn-contur">
    <c-icon class="icon" href="img/icons.svg#play"></c-icon>
  </a>
</section>

<section class="activity p-section section-lines">
  <div class="title mb-8 sm:mb-12">Направления деятельности</div>

  <div class="activity-grid">
    <div class="activity-item btn-group group">
      <div class="activity-item-image">
        <img src="/img/activity/1/preview.jpg" alt="" class="absolute-fit object-cover">
      </div>
      <div class="activity-item-content">
        <div class="flex items-center">
          <div class="text-lg sm:text-2xl font-alt">Жилые здания</div>
          <button class="btn btn-icon btn-primary ml-auto rounded-lg btn-sm">
            <c-icon class="icon text-2xl text-default opacity-30 group-hover:opacity-80 transition-opacity" href="img/icons.svg#arrow-right"></c-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="activity-item btn-group group">
      <div class="activity-item-image">
        <img src="/img/activity/2/preview.jpg" alt="" class="absolute-fit object-cover">
      </div>
      <div class="activity-item-content">
        <div class="flex items-center">
          <div class="text-lg sm:text-2xl font-alt">Коммерческие здания</div>
          <button class="btn btn-icon btn-primary ml-auto rounded-lg btn-sm">
            <c-icon class="icon text-2xl text-default opacity-30 group-hover:opacity-80 transition-opacity" href="img/icons.svg#arrow-right"></c-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="sm:grid sm:grid-cols-2 ">
    <div class="activity-item btn-group group">
      <div class="activity-item-image">
        <img src="/img/activity/3/preview.jpg" alt="" class="absolute-fit object-cover">
      </div>
      <div class="activity-item-content">
        <div class="flex items-center">
          <div class="text-lg sm:text-2xl font-alt">Жилые здания</div>
          <button class="btn btn-icon btn-primary ml-auto rounded-lg btn-sm">
            <c-icon class="icon text-2xl text-default opacity-30 group-hover:opacity-80 transition-opacity" href="img/icons.svg#arrow-right"></c-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="activity-item btn-group group">
      <div class="activity-item-image">
        <img src="/img/activity/4/preview.jpg" alt="" class="absolute-fit object-cover">
      </div>
      <div class="activity-item-content">
        <div class="flex items-center">
          <div class="text-lg sm:text-2xl font-alt">Коммерческие здания</div>
          <button class="btn btn-icon btn-primary ml-auto rounded-lg btn-sm">
            <c-icon class="icon text-2xl text-default opacity-30 group-hover:opacity-80 transition-opacity" href="img/icons.svg#arrow-right"></c-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="advantages p-section">
  <div class="title mb-8 sm:mb-12">Преимущества</div>
  <div class="grid lg:grid-cols-5">
    <div class="advantages-item">
      <div class="advantages-item-image">
        <c-icon class="icon" href="img/icons.svg#case"></c-icon>
      </div>
      <div class="advantages-item-content">
        <div class="sm:text-2xl font-alt lg:mb-12">
          Более 10 лет
          опыта
        </div>
        <div class="text-xs sm:text-sm max-lg:opacity-80">
          Большой профессиональный
          опыт проектирования
          и строительства домов
        </div>
      </div>
    </div>
    <div class="advantages-item">
      <div class="advantages-item-image">
        <c-icon class="icon" href="img/icons.svg#building"></c-icon>
      </div>
      <div class="advantages-item-content">
        <div class="sm:text-2xl font-alt lg:mb-12">
          Архитектура
          во всем
        </div>
        <div class="text-xs sm:text-sm max-lg:opacity-80">
          Совмещаем современную
          архитектуру и дизайн
          интерьера в единую
          композицию
        </div>
      </div>
    </div>
    <div class="advantages-item">
      <div class="advantages-item-image">
        <c-icon class="icon" href="img/icons.svg#ruler"></c-icon>
      </div>
      <div class="advantages-item-content">
        <div class="sm:text-2xl font-alt lg:mb-12">
          Точность
          в реализации
        </div>
        <div class="text-xs sm:text-sm max-lg:opacity-80">
          Более 100 выполненных
          работ, от проекта до полной
          реализации
        </div>
      </div>
    </div>
    <div class="advantages-item">
      <div class="advantages-item-image">
        <c-icon class="icon" href="img/icons.svg#key-square"></c-icon>
      </div>
      <div class="advantages-item-content">
        <div class="sm:text-2xl font-alt lg:mb-12">
          Работаем
          "под ключ"
        </div>
        <div class="text-xs sm:text-sm max-lg:opacity-80">
          Оказываем полный цикл
          услуг по архитектурному
          и дизайнерскому
          проектированию
          до полной реализации
        </div>
      </div>
    </div>
    <div class="advantages-item">
      <div class="advantages-item-image">
        <c-icon class="icon" href="img/icons.svg#crop"></c-icon>
      </div>
      <div class="advantages-item-content">
        <div class="sm:text-2xl font-alt lg:mb-12">
          Меньше значит
          больше
        </div>
        <div class="text-xs sm:text-sm max-lg:opacity-80">
          Целостность пространства
          в простоте геометрических
          форм
        </div>
      </div>
    </div>
  </div>
</section>

<section class="examples p-section overflow-hidden" data-tab-cover>
  <div class="title mb-8 sm:mb-12">Примеры работ</div>
  <div class="examples-tabs mb-12">
    <div class="examples-tab" data-tab-link="1">Все работы</div>
    <div class="examples-tab" data-tab-link="2">Жилые здания</div>
    <div class="absolute bottom-0 h-px bg-default transition-all" data-tab-plate></div>
  </div>
  <div class="tab-content-cover">
    <div class="tab-content" data-tab-content="1">
      <div class="examples-slider swiper -mx-5 overflow-visible">
        <div class="swiper-wrapper">
          <% for(let i = 0; i < 3; i++) { %>
          <div class="swiper-slide px-5">
            <div class="examples-item">
              <div class="ratio ratio-[1230/668] bg-default/10">
                <img src="img/test.jpg" alt="" class="absolute-fit object-cover">
              </div>
              <div class="mt-5 flex items-center gap-2">
                <div class="flex items-center gap-30">
                  <div class="">Медцентр</div>
                  <div class="opacity-60">200 м<sup>2</sup></div>
                  <div class="opacity-60">От 50 000 000 ₽</div>
                </div>
                <button class="btn btn-default btn-contur px-6 gap-1 rounded-full ml-auto">
                  <c-icon class="icon text-xl" href="img/icons.svg#download"></c-icon>
                  <span class="font-alt font-medium">Скачать проект</span>
                </button>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="tab-content" data-tab-content="2">
      Жилые здания
    </div>
  </div>
</section>
<script>
  new Swiper('.examples-slider')
</script>

<%= require('./html-includes/footer.html')() %>