:root {
  --bg1      : #E9EAEC;
  --bg2      : #F4F5F6;
  --bg3      : #fff;
  --font-base: 'Inter', arial, helvetica, sans-serif;

}

[data-theme="dark"] {
  --bg1: #181818;
  --bg2: #282828;
  --bg3: #323232;
}

body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : var(--bg1);

  * {
    font-family: var(--font-base);
  }

}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }
  
  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }
  
  .is-active-disabled:is(.toggle-active, .active) {
    display: none;
  }
  
  .is-active-enabled:not(:is(.toggle-active, .active)) {
    display: none;
  }
}
