body {
  --bg1      : #E7E7E7;
  --bg2      : #F4F4F4;
  --bg3      : #fff;
  --text     : theme('colors.black');
  --font-base: 'Inter', arial, helvetica, sans-serif;

  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : var(--bg1);
  font-family   : var(--font-base);
  color         : var(--text);

  &.menu-opened {
    overflow: hidden;
  }
}

[data-theme="dark"] {
  --bg1 : #181818;
  --bg2 : #282828;
  --bg3 : #323232;
  --text: #fff;

}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }

  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }

  .is-active-disabled:is(.toggle-active, .active) {
    display: none;
  }

  .is-active-enabled:not(:is(.toggle-active, .active)) {
    display: none;
  }

  .absolute-fit {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .hover-underline {
    text-underline-offset: 4px;

    @media(hover) {
      &:hover {
        text-decoration: underline;
        opacity        : 1;
      }
    }
  }
}