@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import '@qpokychuk/ripple/index.css';
  @import "@fancyapps/ui/dist/fancybox/fancybox.css";
  @import 'swiper/css';
}

@import '@qpokychuk/inter/index.css';
@import '../ui/ui-core';
@import './style';
