@import 'functions';

:root {
  /* theme colors */
  --primary-rgb : #{cl(#e4c779)};
  --sec-rgb     : #{cl(#CE9B44)};
  --blue-rgb    : #{cl(#2173E5)};
  --red-rgb     : #{cl(#c0392b)};
  --green-rgb   : #{cl(#27ae60)};
  --yellow-rgb  : #{cl(#FECB29)};

  /* colors */
  --bg1-rgb     : #{cl(#ededed)};
  --bg2-rgb     : #{cl(#F5F7FB)};
  --bg3-rgb     : #{cl(#fff)};
  --default-rgb : #{cl(#373737)};
  --white-rgb   : #{cl(#fff)};
  --black-rgb   : #{cl(#000)};

  /* variables */
  --bg1    : rgb(var(--bg1-rgb));
  --bg2    : rgb(var(--bg2-rgb));
  --bg3    : rgb(var(--bg3-rgb));
  --default: rgb(var(--default-rgb));

  /* easing */
  --elastic: cubic-bezier(0.34, 2, 0.64, 1);
}

[data-theme="dark"] {
  --bg1-rgb     : #{cl(#181818)};
  --bg2-rgb     : #{cl(#282828)};
  --bg3-rgb     : #{cl(#323232)};
  --default-rgb : #{cl(#fff)};

}

body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : theme('colors.l2');
  font-family   : theme('fontFamily.base');
  color         : theme('colors.default');

  &.menu-opened {
    overflow: hidden;
  }
}

@media (hover) {
  // temp

  .btn-white:hover,
  .btn-white:is(.btn-group:hover .btn),
  .btn-white:is(.btn-peer:hover~.btn) {
    --tw-btn-color: #fff;
  }
}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }

  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }

  .is-active-disabled:is(.toggle-active, .active) {
    display: none;
  }

  .is-active-enabled:not(:is(.toggle-active, .active)) {
    display: none;
  }

  .absolute-fit {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .hover-underline {
    position: relative;

    &::before {
      content   : '';
      position  : absolute;
      top       : 100%;
      height    : 2px;
      left      : 0;
      width     : 100%;
      background: theme('colors.primary');
      transition: .25s ease;
      transform : scaleX(0);
    }

    @media(hover) {
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  .btn {
    cursor         : pointer;
    justify-content: start;
  }
}

.main {
  flex-grow     : 1;
  position      : relative;
  overflow      : hidden;
  width         : 100%;
  display       : flex;
  flex-direction: column;
}

.background {
  position: absolute;
  inset   : 0;

  &-light {
    // --width: calc(100% * 41 / 1866);

    --width: 40px;

    position     : absolute;
    width        : var(--width);
    background   : #ffdd9d;
    box-shadow   : 0 0 5px #ffdd9d;
    border-radius: 50%;
    animation    : light-pulse 3s linear infinite;
    opacity      : .1;

    &::before {
      content       : '';
      display       : block;
      padding-bottom: 100%;

    }

    &-1 {
      animation-delay: .1s;
      left           : calc(50% + 400px);
      top            : calc(100% * 125 / 920);
    }

    &-2 {
      animation-delay: .2s;
      left           : calc(50% + 500px);
      top            : calc(100% * 205 / 920);
    }

    &-3 {
      animation-delay: .3s;
      left           : calc(50% + 300px);
      top            : calc(100% * 290 / 920);
    }

    &-4 {
      animation-delay: .4s;
      left           : calc(50% + 700px);
      top            : calc(100% * 125 / 920);
    }

    &-5 {
      animation-delay: .5s;
      left           : calc(50% + 600px);
      top            : calc(100% * 275 / 920);
    }

    &-6 {
      animation-delay: .6s;
      left           : calc(50% + 570px);
      top            : calc(100% * 75 / 920);
    }

    &-7 {
      animation-delay: .7s;
      left           : calc(50% + 500px);
      top            : calc(100% * 525 / 920);
    }

    &-8 {
      animation-delay: .8s;
      left           : calc(50% + 600px);
      top            : calc(100% * 475 / 920);
    }

    &-9 {
      animation-delay: .9s;
      left           : calc(50% + 420px);
      top            : calc(100% * 265 / 920);
    }

    &-10 {
      animation-delay: .10s;
      left           : calc(50% + 350px);
      top            : calc(100% * 455 / 920);
    }
  }
}

@keyframes light-pulse {
  // temp

  0%,
  100% {
    opacity: .1;
  }

  50% {
    opacity: .5;
  }
}

.content {
  position      : relative;
  z-index       : 2;
  color         : #fff;
  padding       : 68px 92px 32px;
  display       : flex;
  flex-direction: column;
  align-items   : flex-start;
  flex-grow     : 1;
}

.logo {
  margin-bottom: 78px;
}

.title {
  font-family  : theme('fontFamily.alt');
  font-size    : 60px;
  line-height  : 1;
  margin-bottom: -25px;
  margin-left  : 48px;
  position     : relative;
  z-index      : 2;
}

.prize {
  padding        : 46px 52px 32px;
  background     : rgba(40, 16, 18, 0.5);
  border         : 1px solid rgba(228, 199, 121, 0.6);
  border-radius  : 25px;
  backdrop-filter: blur(20px);
  display        : flex;
  align-items    : center;
  gap            : 32px;
  margin-bottom  : 40px;

  &-title {
    font-family: 'Intro Book', Arial, Helvetica, sans-serif;
    font-size  : 20px;
  }

  &-value {
    font-size  : 20px;
    font-family: Intro, Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.1;
  }
}

.form {
  width: 510px;

  &-btn {
    font-size  : 20px;
    font-family: Intro, Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  &-policy {
    font-family: 'Intro Book', Arial, Helvetica, sans-serif;
  }
}

.footer {
  display    : flex;
  align-items: center;
  gap        : 82px;
  font-family: 'Intro Book', Arial, Helvetica, sans-serif;
  font-size  : 14px;
  margin-top : auto;

}

.input {
  border         : 1px solid rgba(228, 199, 121, 0.6);
  backdrop-filter: blur(20px);
  background     : rgba(40, 16, 18, 0.5);
  border-radius  : 30px;
  color          : #fff;
  padding        : 0 40px;

  &::placeholder {
    color: #73643C;
  }
}

.ball {
  position        : absolute;
  z-index         : 2;
  top             : 92px;
  left            : 50%;
  width           : 1029px;
  height          : 847px;
  transform-origin: 50% 100%;

  &-image {
    width : 100%;
    height: 100%;
  }

  &-inner,
  &-stand {
    position: absolute;
  }

  &-inner {
    width        : 68%;
    height       : 68%;
    border-radius: 70% 70% 50% 50%;
    top          : 2%;
    left         : 8.5%;
    overflow     : hidden;
  }

  &-stand {
    width        : 100%;
    height       : 20%;
    border-radius: 50%;
    bottom       : 0;
  }

  &-snow {
    position: absolute;
    left    : -25%;
    top     : -25%;
    width   : 150%;
    height  : 150%;


  }

  &.shuffle {
    animation: wobble 1.5s linear 2;

  }

  &.shuffle &-snow {
    &-2 {
      animation: snow-shuffle 1.5s linear 3;
    }

    &-3 {
      animation: snow-shuffle 1.5s linear 3 reverse;

    }
  }

  &-light {
    position: absolute;
    color   : #fff;
    opacity : .1;

    &::after,
    &::before {
      content      : '';
      position     : absolute;
      background   : currentColor;
      border-radius: 50%;
      filter       : blur(7px);
    }

    &::before {
      width : 24px;
      left  : calc(50% - 12px);
      height: 100%;
      top   : 0;
    }

    &::after {
      height: 24px;
      top   : calc(50% - 12px);
      width : 100%;
      left  : 0;
    }

    &-1 {
      width    : 11%;
      height   : 16%;
      left     : 45.5%;
      top      : 68%;
      transform: skew(-1deg, -20deg);
      animation: light-pulse 3s linear infinite;
    }

    &-2 {
      width    : 12%;
      height   : 16%;
      left     : 66.5%;
      top      : 63%;
      transform: skew(-1deg, -10deg);
      animation: light-pulse 4s 2s linear infinite;
    }
  }

}

@keyframes wobble {
  0% {
    transform: none;
  }

  15% {
    transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -2.5deg);
  }

  30% {
    transform: translate3d(7.5%, 0, 0) rotate3d(0, 0, 1, 1.5deg);
  }

  45% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1.5deg);
  }

  60% {
    transform: translate3d(2.5%, 0, 0) rotate3d(0, 0, 1, 1deg);
  }

  75% {
    transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, -.5deg);
  }

  100% {
    transform: none;
  }
}

@keyframes snow-shuffle {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes ball-shuffle {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(-15deg);
  }

  75% {
    transform: rotateZ(15deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}