@import 'functions';

:root {
  // theme colors
  --primary-rgb : #{cl(#7BAFAA)};
  --sec-rgb     : #{cl(#CE9B44)};
  --blue-rgb    : #{cl(#2173E5)};
  --red-rgb     : #{cl(#c0392b)};
  --green-rgb   : #{cl(#27ae60)};
  --yellow-rgb  : #{cl(#FECB29)};

  // colors
  --bg1-rgb     : #{cl(#ededed)};
  --bg2-rgb     : #{cl(#f4f4f4)};
  --bg3-rgb     : #{cl(#fff)};
  --default-rgb : #{cl(#373737)};
  --white-rgb   : #{cl(#fff)};
  --black-rgb   : #{cl(#000)};

  // variables
  --bg1    : rgb(var(--bg1-rgb));
  --bg2    : rgb(var(--bg2-rgb));
  --bg3    : rgb(var(--bg3-rgb));
  --default: rgb(var(--default-rgb));

  // font
  --font-base: 'Vinnytsia Sans', arial, helvetica, sans-serif;
  --font-alt : 'Excentra Pro', arial, helvetica, sans-serif;

}

body {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : theme('colors.l3');
  font-family   : theme('fontFamily.base');
  color         : theme('colors.default');

  &.menu-opened {
    overflow: hidden;
  }
}

[data-theme="dark"] {
  --bg1-rgb     : #{cl(#181818)};
  --bg2-rgb     : #{cl(#282828)};
  --bg3-rgb     : #{cl(#323232)};
  --default-rgb : #{cl(#fff)};

}

@media (hover) {
  // temp

  .btn-white:hover,
  .btn-white:is(.btn-group:hover .btn),
  .btn-white:is(.btn-peer:hover~.btn) {
    --tw-btn-color: #fff;
  }
}

@layer components {
  .active-enabled:not(:is(:is(.toggle-active, .tab-active, .active) .active-enabled)) {
    display: none !important;
  }

  .active-disabled:is(:is(.toggle-active, .tab-active, .active) .active-disabled) {
    display: none !important;
  }

  .is-active-disabled:is(.toggle-active, .active) {
    display: none;
  }

  .is-active-enabled:not(:is(.toggle-active, .active)) {
    display: none;
  }

  .absolute-fit {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
  }

  .hover-underline {
    position: relative;

    &::before {
      content   : '';
      position  : absolute;
      top       : 100%;
      height    : 2px;
      left      : 0;
      width     : 100%;
      background: theme('colors.primary');
      transition: .25s ease;
      transform : scaleX(0);
    }

    @media(hover) {
      &:hover::before {
        transform: scaleX(1);
      }
    }
  }

  .title {
    font-family: theme('fontFamily.alt');
    font-size  : 58px;
    line-height: 1.25;

    @media (max-width: theme('screens.lg')) {
      font-size: 42px;
    }

    @media (max-width: theme('screens.sm')) {
      font-size: 9vw;
    }
  }

  .p-section {
    padding-top   : 72px;
    padding-bottom: 92px;

    @media (max-width: theme('screens.sm')) {
      padding-top   : 42px;
      padding-bottom: 42px;
    }
  }
}

.header {
  background     : theme('colors.l3');
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  gap            : 12px;
  padding-top    : 11px;
  padding-bottom : 11px;
  position       : sticky;
  top            : 0;
  z-index        : theme('zIndex.1');

  @media (max-width: theme('screens.sm')) {
    padding-top   : 6px;
    padding-bottom: 6px;
  }

  &-logo {
    width : 162px;
    height: 58px;

    @media (max-width: theme('screens.sm')) {
      width : 100px;
      height: auto;
      height: 36px;
    }
  }
}

.started {
  position: relative;
  height  : 952px;
  color   : #fff;

  display        : flex;
  flex-direction : column;
  justify-content: flex-end;
  padding-bottom : 136px;

  @media (min-width: theme('screens.xl')) {
    --section-width: 1090px;

  }

  @media (max-width: theme('screens.lg')) {
    height        : 700px;
    padding-bottom: 52px;
  }

  @media (max-width: theme('screens.sm')) {
    padding-bottom: 24px;
    height        : auto;
    padding-top   : 300px;
  }

  &-image {
    position      : absolute;
    inset         : 0;
    user-select   : none;
    pointer-events: none;

    @media (max-width: theme('screens.sm')) {
      bottom: auto;
      height: 400px;
    }
  }

  &-shadow {
    position      : absolute;
    inset         : 0;
    top           : auto;
    user-select   : none;
    pointer-events: none;
    height        : 562px;
    background    : linear-gradient(180deg, rgba(0, 0, 0, 0) 7%, rgba(0, 0, 0, 0.7) 50%);

    @media (max-width: theme('screens.sm')) {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 7%, rgba(0, 0, 0, 1) 400px);
      height    : 100%;

    }

  }

  &-content {
    position             : relative;
    display              : grid;
    grid-template-columns: 1fr 1fr;
    gap                  : 122px;

    @media (max-width: theme('screens.lg')) {
      display       : flex;
      flex-direction: column;
      gap           : 32px;
    }
  }

  &-title {
    font-size     : 52px;
    line-height   : 1.2;
    font-family   : theme('fontFamily.alt');
    text-transform: uppercase;
    margin-bottom : 38px;

    @media (max-width: theme('screens.lg')) {
      margin-bottom: 24px;
      font-size    : 42px;
    }

    @media (max-width: theme('screens.sm')) {
      font-size    : 9vw;
      margin-bottom: 15px;
    }


  }
}

.about {
  padding-top          : 0;
  padding-bottom       : 0;
  display              : grid;
  align-items          : center;
  grid-template-columns: 1fr 1fr;

  @media (max-width: theme('screens.lg')) {
    display       : flex;
    flex-direction: column;
    gap           : 32px;
    padding-bottom: 40px;
  }


  &-left {
    position    : relative;
    display     : flex;
    align-items : center;
    align-self  : stretch;
    border-left : 1px solid theme('colors.default / 20%');
    border-right: 1px solid theme('colors.default / 20%');

    padding: 100px 20px;

    @media (max-width: theme('screens.lg')) {
      padding-top   : 64px;
      padding-bottom: 64px;
    }

    @media (max-width: theme('screens.sm')) {
      padding       : 15px;
      padding-bottom: 48px;
    }

    &::before {
      content   : '';
      position  : absolute;
      bottom    : 20px;
      left      : 0;
      width     : 100%;
      border-top: 1px dashed theme('colors.default / 20%');

      @media (max-width: theme('screens.lg')) {
        bottom: 0;
      }

    }
  }

  &-image {
    width       : 414px;
    max-width   : 100%;
    margin-left : auto;
    margin-right: auto;
    user-select : none;
  }

  &-content {
    @media (min-width: theme('screens.lg')) {
      padding-left: 76px;

    }
  }
}

.section-lines {
  position: relative;

  &::before {
    content       : '';
    position      : absolute;
    top           : 0;
    height        : 100%;
    pointer-events: none;
    width         : var(--section-width);
    z-index       : 2;


  }
}

.video {
  position      : relative;
  height        : 820px;
  padding-top   : 64px;
  padding-bottom: 64px;
  display       : flex;
  flex-direction: column;

  @media (max-width: theme('screens.sm')) {
    padding-top   : 32px;
    padding-bottom: 32px;
    height        : 500px;
  }

  &::before {
    border-left : 1px dashed theme('colors.white / 20%');
    border-right: 1px dashed theme('colors.white / 20%');

    @media (max-width: theme('screens.lg')) {
      display: none;
    }

    @media (max-width: theme('screens.sm')) {
      display: block;
    }
  }

  &-button {
    --tw-btn-size: 128px;

    border-radius: 50%;
    font-size    : 40px;

    position: absolute;
    left    : calc(50% - var(--tw-btn-size) / 2);
    top     : calc(50% - var(--tw-btn-size) / 2);

    @media (max-width: theme('screens.sm')) {
      position: relative;
      top     : auto;
      left    : auto;
      margin  : auto;
    }
  }
}

.activity {
  &::before {
    border-right: 1px solid #D5D5D5;
  }

  &-grid {
    display              : grid;
    grid-template-columns: 43fr 80fr;

    @media (max-width: theme('screens.lg')) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: theme('screens.sm')) {
      display: block;
    }
  }

  &-item {
    --padding     : 32px;
    --image-height: 222px;
    --left-top    : var(--padding) var(--padding);
    --right-top   : calc(100% - var(--padding)) var(--padding);
    --right-bottom: calc(100% - var(--padding)) calc(var(--padding) + var(--image-height));
    --left-bottom : var(--padding) calc(var(--padding) + var(--image-height));

    position      : relative;
    border        : 1px solid #D5D5D5;
    padding       : var(--padding);
    display       : flex;
    flex-direction: column;
    gap           : 30px;
    margin        : -0.5px;
    cursor        : pointer;
    overflow      : hidden;

    @media (max-width: theme('screens.sm')) {
      --padding: 15px;

      gap: 15px;
    }


    &-placeholder {
      height: 222px;
    }

    &-image {
      overflow: hidden;

      position  : absolute;
      inset     : 0;
      transition: .5s ease;

      clip-path: polygon(var(--left-top), var(--right-top), var(--right-bottom), var(--left-bottom));

      img {
        transition: .5s ease;
      }
    }

    @media(hover) {
      &:hover {
        --left-top    : 0 0;
        --right-top   : 100% 0;
        --right-bottom: 100% 100%;
        --left-bottom : 0% 100%;
      }

      &:hover &-image img {
        // transform: scale(1.1);
      }
    }

    &-content {
      position  : relative;
      z-index   : 2;
      transition: .25s ease;
    }

    &-hidden {
      position      : absolute;
      inset         : 0;
      display       : flex;
      flex-direction: column;
      align-items   : flex-start;
      padding       : var(--padding);
      z-index       : 3;
      color         : #fff;
      transition    : .25s ease;
      opacity       : 0;
      transform     : translateY(40px);
    }

    &-shadow {
      position  : absolute;
      inset     : 0;
      transition: .5s ease;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.14) 100%);
      opacity   : 0;

    }

    @media(hover) {
      &:hover &-hidden {
        opacity  : 1;
        transform: none;
      }

      &:hover &-content {
        opacity  : 0;
        transform: translateY(-40px);

      }

      &:hover &-shadow {
        opacity: 1;
      }
    }
  }
}

.advantages {
  color     : #fff;
  background: url("../img/advantages-bg.jpg") no-repeat center / cover, theme('colors.primary');

  &-item {
    border        : 1px solid #fff;
    display       : flex;
    flex-direction: column;
    padding       : 24px 16px;
    margin        : -0.5px;
    gap           : 92px;

    &:nth-of-type(2n) {
      background: rgba(255, 255, 255, 0.1);
    }

    @media (max-width: theme('screens.lg')) {
      flex-direction: row;
      align-items   : center;
      gap           : 32px;

    }

    @media (max-width: theme('screens.sm')) {
      gap: 20px;
    }


    &-image {
      width          : 74px;
      height         : 74px;
      display        : flex;
      align-items    : center;
      justify-content: center;
      border-radius  : 50%;
      background     : #fff;
      flex-shrink    : 0;

      color    : #242424;
      font-size: 36px;
    }
  }


}

.examples {
  overflow      : hidden;
  padding-bottom: 20px;

  &-tabs {
    position     : relative;
    display      : flex;
    gap          : 96px;
    white-space  : nowrap;
    overflow     : auto;
    width        : calc(100% + 30px);
    padding-left : 15px;
    padding-right: 15px;
    margin-left  : -15px;


    @media (max-width: theme('screens.lg')) {
      gap: 32px;

    }

    &-line {
      position: relative;

      &::before {
        content      : '';
        position     : absolute;
        bottom       : 0;
        width        : 100vw;
        left         : calc(50% - 50vw);
        border-bottom: 1px solid theme('colors.default / 20%');
      }

    }
  }

  &-tab {
    padding-bottom: 20px;
    position      : relative;
    cursor        : pointer;

    @media (max-width: theme('screens.lg')) {
      padding-bottom: 15px;
    }

    &:not(.tab-active) {
      color: theme('colors.default / 60%');

      @media(hover) {
        &:hover {
          color: theme('colors.default / 80%');

        }
      }
    }

    &::before {
      content : '';
      position: absolute;
      inset   : -15px;
      bottom  : 0;

    }
  }


  &-line {
    position: relative;

    &::before {
      content      : '';
      position     : absolute;
      bottom       : 0;
      width        : 100vw;
      left         : calc(50% - 50vw);
      border-bottom: 1px dashed theme('colors.default / 20%');
    }

  }
}

.howwork {
  &-item {
    border    : 1px solid theme('colors.default / 20%');
    margin    : -0.5px;
    overflow  : hidden;
    position  : relative;
    transition: .15s ease;
    height    : 430px;


    @media (max-width: theme('screens.lg')) {
      height: auto;
    }

    &-content {
      position      : relative;
      display       : flex;
      flex-direction: column;
      height        : 100%;
      padding       : 32px 16px 40px;

      @media (max-width: theme('screens.lg')) {
        flex-direction: row;
        align-items   : center;
        gap           : 32px;
        padding       : 40px 20px;

      }
    }

    &-image {
      opacity   : 0;
      transform : scale(1.1);
      transition: .5s ease;

    }

    &-title {
      margin-top: 92px;
      transition: all .25s ease, color .1s ease;

      @media (max-width: theme('screens.lg')) {
        margin-top: 0;
      }
    }

    &-description {
      font-size : 14px;
      margin-top: auto;
      position  : absolute;
      padding   : inherit;
      bottom    : 0;
      left      : 0;
      width     : 100%;

      transform : translateY(30px);
      transition: all .35s ease, color .1s ease;
      opacity   : 0;
    }

    @media(hover) {
      &:hover {
        color: #fff;
      }

      &:hover &-image {
        transform: none;
        opacity  : 1;
      }

      &:hover &-title {
        transform: translateY(-30px);
      }

      &:hover &-description {
        transform: none;
        opacity  : 1;
      }
    }
  }
}

.case {
  color     : #fff;
  background: url("../img/advantages-bg.jpg") no-repeat center / cover, theme('colors.primary');

  &::before {
    border-left : 1px solid theme('colors.white / 20%');
    border-right: 1px solid theme('colors.white / 20%');


  }

  &-item {
    background    : theme('colors.l3');
    color         : theme('colors.default');
    display       : flex;
    flex-direction: column;

    &-content {
      padding: 32px 24px;

      @media (max-width: theme('screens.sm')) {
        padding: 20px 15px;
      }
    }
  }

  &-pagination {
    --swiper-pagination-bullet-size            : 12px;
    --swiper-pagination-bullet-horizontal-gap  : 18px;
    --swiper-pagination-color                  : #fff;
    --swiper-pagination-bullet-inactive-color  : var(--swiper-pagination-color);
    --swiper-pagination-bullet-inactive-opacity: .6;

    @media (max-width: theme('screens.sm')) {
      --swiper-pagination-bullet-size          : 8px;
      --swiper-pagination-bullet-horizontal-gap: 8px;

    }
  }
}

.extended {
  &-grid {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows       : 256px;
    column-gap           : 30px;

    @media (max-width: theme('screens.lg')) {
      grid-template-columns: 1fr;
    }
  }

  &-item {
    position: relative;

    &-shadow {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 46.31%, rgba(0, 0, 0, 0.6) 86.36%);

    }

    &-content {
      position       : relative;
      display        : flex;
      flex-direction : column;
      justify-content: flex-end;
      width          : 100%;
      height         : 100%;
      padding        : 32px;
      color          : #fff;

      @media (max-width: theme('screens.sm')) {
        padding: 15px;
      }
    }
  }
}

.question {
  // temp

}

.reviews {
  background: linear-gradient(104.89deg, #2E8F86 0%, #7BAFAA 60.5%), #7BAFAA;
  color     : #fff;

  &-item {
    background: theme('colors.l3');
    color     : theme('colors.default');
    padding   : 24px;

    &::before {
      content       : '';
      position      : absolute;
      inset         : 8px;
      border        : 1px solid theme('colors.default / 15%');
      pointer-events: none;
      bottom        : 0;
      border-bottom : none;
    }
  }

  &-pagination {
    --swiper-pagination-bullet-size            : 12px;
    --swiper-pagination-bullet-horizontal-gap  : 18px;
    --swiper-pagination-color                  : #fff;
    --swiper-pagination-bullet-inactive-color  : var(--swiper-pagination-color);
    --swiper-pagination-bullet-inactive-opacity: .6;

    @media (max-width: theme('screens.sm')) {
      --swiper-pagination-bullet-size          : 8px;
      --swiper-pagination-bullet-horizontal-gap: 8px;

    }
  }
}

.description {
  &::before {
    border-left: 1px solid theme('colors.default / 15%');
  }

  &-content {
    position: relative;
  }

  &-info {
    padding   : 24px 32px;
    background: linear-gradient(104.89deg, #2E8F86 0%, #7BAFAA 60.5%), #7BAFAA;
    color     : #fff;
    position  : relative;

    @media (max-width: theme('screens.sm')) {
      padding: 15px;
    }

  }

  &-line {
    position: absolute;
    border  : 1px solid theme('colors.default / 15%');
    width   : 700px;
    height  : 676px;
    left    : 0;
    bottom  : 0;

  }
}

.contact {
  background: linear-gradient(275.21deg, rgba(255, 255, 255, 0) 0%, theme('colors.l3 / 70%') 100%), theme('colors.l2');

  &-item {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    text-align    : center;
    gap           : 40px;
    padding-top   : 72px;
    padding-bottom: 48px;
    border        : 1px solid theme('colors.default / 10%');
    position      : relative;

    @media (max-width: theme('screens.lg')) {
      flex-direction: row;
      text-align    : left;
      padding       : 32px 24px;
    }

    &-icon {
      width          : 92px;
      height         : 92px;
      border-radius  : 50%;
      display        : flex;
      align-items    : center;
      justify-content: center;
      border         : 2px solid theme('colors.default');
      font-size      : 56px;
      flex-shrink    : 0;

      @media (max-width: theme('screens.sm')) {
        width    : 72px;
        height   : 72px;
        font-size: 44px;
      }
    }
  }
}

.footer {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  background     : #242424;
  color          : #fff;
  padding-top    : 8px;
  padding-bottom : 8px;
  gap            : 24px;
  overflow       : hidden;

  @media (max-width: theme('screens.sm')) {
    flex-direction: column;
    padding-top   : 24px;
    padding-bottom: 24px;
  }

  &-logo {
    width : 176px;
    height: 62px;
  }

  &-c {
    opacity: .6;
  }

  &-dev {
    font-weight: 500;
  }
}

.dialog {
  max-width : 100%;
  background: theme('colors.l3');
}

.activity-dialog {
  width  : 1120px;
  padding: 24px;

  @media (max-width: theme('screens.sm')) {
    padding-left : 15px;
    padding-right: 15px;
  }

  &-thumbs {
    .swiper-slide {
      cursor: pointer;

      &.swiper-slide-thumb-active {
        opacity: .4;
        cursor : default;
      }
    }
  }
}

.case-dialog {
  width  : 1120px;
  padding: 24px;

  @media (max-width: theme('screens.sm')) {
    padding-left : 15px;
    padding-right: 15px;
  }
}

.dialog-from {
  width     : 1120px;
  min-height: 428px;

  @media (max-width: theme('screens.md')) {
    min-height: 0;
  }
}

.dialog-policy {
  width  : 1120px;
  padding: 40px;

  @media (max-width: theme('screens.sm')) {
    padding-left : 15px;
    padding-right: 15px;
  }
}

.map {
  height: 600px;
}

[data-animation] {
  opacity: 0;

}